@model AcademicLife.Models.Classroom

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Classroom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsOfficial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOfficial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassSubject.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassTeacher)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassTeacher.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstituteProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstituteProvider.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
