@model IEnumerable<AcademicLife.Models.Classroom>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Localização
            </th>
            <th>
                Turma Oficial?
            </th>
            <th>
                Está Ativa?
            </th>
            <th>
                Disciplina
            </th>
            <th>
                Professor
            </th>
            <th>
                Instituto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOfficial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassSubject.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTeacher.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InstituteProvider.Code)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
